<ion-header>
  <ion-navbar>
    <ion-title>
      Shortcuts
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <button ion-button small color="danger">Currently in Proof of Concept</button>

  <ion-grid no-padding>
    <ion-row>
      <ion-col>

        <ion-list>
          <button ion-item *ngFor="let command of commands" no-padding>

            {{ command.title }}

          </button>
        </ion-list>

        <button ion-button (click)="addCommand()">Add Shortcut</button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list>
          <button ion-item *ngFor="let item of items" (click)="itemSelected(item)" no-padding>
            <ion-card>
              <pre>
                  <code>
                    {{ item.shortcut }}
                  </code>
                </pre>
              <ion-list padding>

                {{ item.description }}

              </ion-list>
            </ion-card>
          </button>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

