page-home {}

pre {
  font-family: 'Source Code Pro';
  font-family: "Courier 10 Pitch", Courier, monospace;
  padding: 1rem;
  white-space: initial;
  background: #faf8f0;
  margin: 0;
}

code {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  color: #eb5a46;
}
